.list-todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 30vh;
  width: 20vw;
  background-color: #f4f7fc;
  border-radius: 10px;

  /* for testing purposes */
  position: relative;
}

.todo:hover {
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0);
  transition: all 0.3s;
}

.todo .btn-danger {
  position: absolute;
  top: 5px;
  right: 5px;

  padding: 4px 8px;
}

.todo {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;

  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-594540-png.png"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/paperboard-texture_95678-72.jpg");
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-size: contain;
}

.btn-delete p {
  position: absolute;
  visibility: hidden;
}

.btn-delete:hover p {
  position: absolute;
  visibility: visible;

  top: 10px;
  right: 50px;

  color: #a52834;
}
