form {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20px;

  margin-top: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.form-option {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
}

.create-todo input[type="radio"] {
  width: 10px;
}

.create-todo button {
  width: 30vw;
}
